@import url('https://fonts.gogleleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins, sans-serif';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("lolbg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: black;
}

.logo{
    font-size: 2em;
    color: yellow;

}

.tittle a{
    
    padding: 30px;
    color: white;
    float: left;
    text-decoration: none;
}

.btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 3px;
    background-color: #1C1C1C;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 23px;
    transition: .5s;
}

.btnsingup-popup {
    width: 130px;
    height: 50px;
    /* background: transparent; */
    border: 2px;
    background-color: skyblue;
    outline: none;
    cursor: pointer;
    border-radius: 1.1em;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 23px;
    translate: .5s;

}

.navigation .btnlogin-popup:hover {
    background: #fff;
    color: #162938;

}

/* .container{
    width: 25px;
    height: 25px;
    position: absolute;
    overflow: hidden;
    left: 407px;
    top: 50px;
 

} */

.btnlogo{
    position: absolute;
    left: 407px;
    top: 50px;
    width: 25px;
    height: 25px;
    background-color: black;
    border-style: none;
}

.img-btn{
    width: 25px;
    height: 25px;
    position: relative;
    overflow: hidden;
  
  
}

